<div id="job-view-container" class="container">
    <div class="row text-center">
        <a class="back-link main-color" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
            </svg>
            Voltar
        </a>
        <div id="img-container" class="col-md-12">
            <img src="/img/company.png" alt="Company">
        </div>
        <div class="col-md-12">
            <h1 class="main-color">{{job.dataValues.title}}</h1>
            <p class="bold">Descrição da vaga:</p>
            <p class="job-desc">{{job.dataValues.description}}</p>
            <p class="job-salary"><span class="bold">O salário informado é </span><span
                    class="salary">R${{job.dataValues.salary}}</span></p>
            <p class="info">
                Para trabalhar na <span class="bold main-color">{{job.dataValues.company}}</span> envie um e-mail para:
                <span class="main-color">{{job.dataValues.email}}</span>
            </p>
            <a class="send-mail" href="mailto{{job.dataValues.email}}" target="_blank">
                Enviar e-mail
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send"
                    viewBox="0 0 16 16">
                    <path
                        d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                </svg>
            </a>
        </div>
    </div>
</div>
